%p Hello #{@user},

%p The email address associated with your account has been reactivated - you will now again receive emails from us and can use the password recovery page to sign in to your account.

%p Your email address will become inactive again if you mark an email from us as spam or if you click an unsubscribe link. To avoid becoming inactive, please add this email address to your contacts.

%p This is an automated message, please do not reply.
